*.cache
*.inf
Makefile
*.desktop
*.autosave
*.loc
*.user
*.user.*
*.rss
*.pkg
*.mmp
*.sis
RotateIt64.png
RotateIt80.png
qrc_resources.cpp
moc*
lupdate.bat
lrelease.bat
translate.bat
translation_helper.txt
RotateIt-build-simulator-Simulator_Qt_for_MinGW_4_4__Qt_SDK_________